body,html,h1, h2, h3, h4, h5, p, ul, li, input, table {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
    text-decoration: none;
    outline: none;
    -moz-outline-style: none;
    -ms-outline-style: none;
    -webkit-outline-style: none;
    -o-outline-style: none;
}



ul, li {
    list-style: none;
}
.nav-bar-border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
